.App-main {
    background-color: #e5f6fb;
    font-size: calc(10px + 2vmin);
    color: black;
}

.footer{
    text-align: center;
    margin-top: 0.1rem;
    padding: 0.1rem;
    bottom: 0; /* logical pixels to offset the bottom */
    left: 0;
    background-color: rgb(20, 20, 20);
    font-size: calc(5px + 2vmin);
    color: white;
    width: 100%;
    position: fixed;
}

/*
- grayscale:
#141414 / 20, 20, 20
#4c4c4c / 76, 76, 76
- blues:
#e5f6fb / 229, 246, 251
#76c6ff / 118, 198, 255
#1f557b / 31, 85, 123
#142a52 / 20, 42, 82
- accents:
#ffdb8a / 255, 219, 138
#ffb145 / 255, 177, 69
#a62525 / 166, 37, 37
*/

*   {
    padding: 0;
    margin: 0;
    color: #141414;
    font-family: "Montserrat", sans-serif;
}

header  {
    z-index: 10;
    top: 0;
    position: fixed;
}

div {
    padding: 0;
    margin: 0;
}

.container-fluid    {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100vw;
    height: 9vh;

    background: rgb(229, 246, 251);
    background: linear-gradient(90deg, #76c6ff 0%, #e5f6fb 100%);
    border-bottom: 2px solid #1f557b;
}

.navbar .navbar-logo   {
    padding: 0vh 1vw 0vh 3vw;
    margin: 0;
    height: auto;
    width: 14vw;
}

.navbar .navitem    {
    padding: 0.3em;
    margin: 0.3em;
    justify-content: center;
}

.navbar .navlink    {
    font-size: 12pt;
    color: #142a52;
    text-decoration: none;
    transition: font-size 0.5s ease;
}

.navbar .navitem:hover {
}

.navbar .navlink:hover  {
    font-size: 14pt;
    cursor: pointer;
    color: #a62525;
    transition: font-size 0.5s ease;
}

.navbar .login-btn  {
    font-size: 13pt;
    color: #1f557b;
    text-decoration: none;
    background-color: #ffffff;

    padding: 0.2em 1.5em;
    margin: 0em 1em;
    border: solid 1px #1f557b;
    border-radius: 2em;

    transition: all 0.5s ease-out;
}

.logout-btn  {
    font-size: 13pt;
    color: #a62525;
    text-decoration: none;
    background-color: #ffffff;

    padding: 0.2em 1.5em;
    margin: 0em 1em;
    border: solid 1px #a62525;
    border-radius: 2em;

    transition: all 0.5s ease-out;
}

.login-btn:hover    {
    background-color: #76c6ff;
    color: #ffffff;
}

.logout-btn:hover   {
    background-color: #a62525;
    color: #ffffff;
}

.navbar p   {
    position: relative;
    left: -0.3em;
    font-size: 12pt;
    font-weight: bold;
    color: #142a52;
    padding-top: 0.2em;
    margin: 0em 1em;
}

#loginpanediv h1    {
    font-weight: bold;
    color: #a62525;
}

#loginpanediv h2    {
    font-size: 16pt;
    color: #142a52;
}

#loginpanediv input {
    color: #142a52;
    border-radius: 2em;
    border: solid 1px #142a52;
    width: 90%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.8em;
    margin-bottom: 1em;
}

#loginpanebtndiv    {
    display: flex;
    align-items: center;
}

#loginpanediv button    {
    font-size: 12pt;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #76c6ff;

    padding: 0.2em 0em;
    min-width: 7em;
    margin-right: 2em;
    border: solid 1px #1f557b;
    border-radius: 2em;

    transition: all 0.5s ease-out;
}

#loginpanediv button:hover  {
    background-color: #1f557b;
}

.blinkredtext   {
    color: #a62525;
    font-weight: bold;
    font-size: 13pt;
}


.drop-shadow    {
    height: 3px;
    background: rgb(136,136,136);
    background: linear-gradient(180deg, rgba(100,100,100,1) 0%, rgba(255,255,255,0) 100%);
}

.main {
    padding-top: 9vh;
    background: rgb(229, 246, 251);
    background: linear-gradient(0deg, #ffffff 0%, #e5f6fb 100%);
}

.main .main-logo   {
    display: block;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    width: 40%;
}

.main .button-container    {
    margin: 0em 15em 0em 15em;
}

.main .button-list  {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.main .button-list li   {
    margin: 0em 1em;
    font-size: 13pt;
}

.main .button-list button   {
    width: 9em;
    border: 2px solid #1f557b;
    border-radius: 20px;
    padding: 0.5em;
    box-shadow: 2px 3px #888888;
    background: #ffffff;

    transition: color 0.5s ease;

    animation-name: btn-border-rev;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.button-list img    {
    max-width: 100px;
}

@keyframes btn-border-rev   {
    from    {
        background: #e5f6fb;
        border: 1px solid #ffb145;
        box-shadow: 0px 0px 10px #ffb145;
    }
    to  {
        background: #ffffff;
        border: 2px solid #1f557b;
        box-shadow: 2px 3px #888888;
    }
}

.main .button-list button:hover  {
    cursor: pointer;
    color: #a62525;
    transition: color 0.5s ease;
    box-shadow: 0px 0px 10px #ffb145;

    animation-name: btn-border;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes btn-border   {
    from    {
        background: #ffffff;
        border: 2px solid #1f557b;
        box-shadow: 2px 3px #888888;
    }
    to  {
        background: #e5f6fb;
        border: 1px solid #ffb145;
        box-shadow: 0px 0px 10px #ffb145;
    }
}

.main .button img   {
    width: 8em;
    height: 5em;
}


@keyframes tabswitch    {
    from    {
        left: -30em;
    }
    to  {
        left: 0em;
    }
}

.body   {
    display: block;
    padding: 3em 2em 0em 2em;
    justify-content: center;
}

.stage-body  {
    display: block;
    padding: 3em 0em 0em 8.2em;
    justify-content: end;
}

.trip-dashboard {
    position: relative;
    left: -30em;

    animation-name: tabswitch;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.trip-dashboard h1  {
    display: block;
    margin: 0;
    border: solid 1px #76c6ff;
    border-radius: 0.5em;
    padding: 0.2em 0em 0.2em 0em;
    text-align: center;

    font-size: 28pt;
    color: #142a52;
    background-color: #e5f6fb;
}

.trip-dashboard-dynamic {
    font-size: 14pt;
    background-color: #ffffff;
    margin: 0em 0.5em;
}

.trip-dashboard-dynamic h2  {
    color: #1f557b;
    margin: 0em 0em 0em 10vw;
    padding-top: 1em;
}

.trip-dashboard-dynamic p  {
    color: #1f557b;
    margin: 0.5em 0em 1.5em 10vw;
    font-style: italic;
}

.trip-dashboard-dynamic .searchbar  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar button {
    display: inline-block;
    position: relative;
    height: 6em;
    margin: 0.2em;

    text-align: center;
    vertical-align: center;
    min-width: 16vw;

    color: #1f557b;
    border-radius: 1em;
    border: solid 1px #76c6ff;
    background-color: #ffffff;

    transition: all 0.5s ease;
}

.searchbar button:hover {
    background-color: #e5f6fb;
}


.searchdepartureinput   {
    height: 0;
    visibility: hidden;
    display: block;
    opacity: 0;
    margin: 0.2em auto;
    min-width: 49vw;
    padding: 0.2em 1em;

    color: #1f557b;
    border-radius: 2em;
    border: solid 1px #1f557b;

    transition: all 0.2s linear;
}

.searcharrivalinput {
    position: relative;
    top: -0.7em;

    visibility: hidden;
    display: block;
    height: 0;
    opacity: 0;
    margin: 0.2em auto;
    min-width: 49vw;
    padding: 0.2em 1em;

    color: #1f557b;
    border-radius: 2em;
    border: solid 1px #1f557b;

    transition: all 0.2s linear;
}

.searchdateinput {
    display: flex;
    justify-content: center;

    position: relative;
    top: -3em;

    visibility: hidden;
    height: 0;
    opacity: 0;
    margin: 0em auto;
    min-width: 49vw;
    padding: 0.2em 1em;
    align-items: center;

    transition: all 0.2s linear;
}

.search-show    {
    visibility: visible;
    opacity: 1;
    height: 2.5em;
}

.search-show-date    {
    visibility: visible;
    opacity: 1;
    height: 24em;
}

.trip-dashboard-dynamic .searchdropdown  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.5em;
}

.trip-dashboard-dynamic .airport-dropdown-from  {
    display: inline-block;
    position: relative;
    top: -1.2em;
}

.airport-dropdown-from li {
    list-style: none;
    text-align: left;
    min-width: 49vw;

    border-left: 1px solid #141414;
    border-right: 1px solid #141414;
    border-bottom: 1px solid #141414;

    padding: 0.2em 1em;

    color: #1f557b;
    border: none;
    border-top: solid 0.5px #76c6ff;
    border-bottom: solid 0.5px #76c6ff;

    transition: background 0.5s linear;
}

.airport-dropdown-from li:hover {
    cursor: pointer;
    background: #e5f6fb;
}

.airport-dropdown-to li:hover   {
    cursor: pointer;
    background: #e5f6fb;
}

.trip-dashboard-dynamic .airport-dropdown-to    {
    display: inline-block;
    position: relative;
    top: -1.2em;
}

.airport-dropdown-to li {
    list-style: none;
    text-align: left;
    min-width: 49vw;

    border-left: 1px solid #141414;
    border-right: 1px solid #141414;
    border-bottom: 1px solid #141414;

    padding: 0.2em 1em;

    color: #1f557b;
    border: none;
    border-top: solid 0.5px #76c6ff;
    border-bottom: solid 0.5px #76c6ff;

    transition: background 0.5s linear;
}

.getflights {
    display: block;
    margin: 0em auto 2em auto;
    padding: 0.2em 0em;

    min-width: 37em;

    color: #ffffff;
    border-radius: 2em;
    border: solid 1px #1f557b;
    background-color: #76c6ff;
}

.getflights:disabled    {
    cursor: not-allowed;
    color: #4c4c4c;
    border: solid 1px #ffffff;
    background-color: lightgray;
}

.trip-dashboard-dynamic hr  {
    margin: auto;
    width: 90%;
    color: #1f557b;
    border: solid 1px #1f557b;
}

.trip-dashboard-dynamic .table-scroller {
    margin: 0em 5em;
    margin-bottom: 2em;
    max-height: 50vh;
    text-align: center;
    overflow: scroll;
}

::-webkit-scrollbar-track {
    background: #76c6ff;
}

::-webkit-scrollbar-thumb {
    background: #1f557b;
}

.trip-dashboard-dynamic table   {
    margin-left: auto;
    margin-right: auto;
}

.trip-dashboard-dynamic th  {
    margin: 0em 1em;
    padding: 0em 1em;
}

.trip-dashboard-dynamic td  {
    margin: 0em 1em;
    padding: 0em 1em;
    text-align: center;

    font-size: 14pt;
    color: #142a52;

    transition: all 0.5s linear;
}

.trip-dashboard-dynamic td:hover    {
    color: #1f557b;
}

.flightoptionbtn   {
    color: #1f557b;
    border: none;
    border-top: solid 0.5px #76c6ff;
    border-bottom: solid 0.5px #76c6ff;
    background-color: #e5f6fb;

    transition: all 0.5s linear;
}

.flightoptionbtn:hover  {
    cursor: pointer;
    background-color: #76c6ff;
    border-top: solid 0.5px #1f557b;
    border-bottom: solid 0.5px #1f557b;
}


.flightoptionheader span {
    display: inline-block;
    text-align: center;

    font-size: 16pt;
    color: #1f557b;
    font-weight: bold;
    padding-bottom: 0.2em;
}

.flightoptionheader #flight {
    min-width: 6rem;
}
.flightoptionheader #airline {
    min-width: 20rem;
}
.flightoptionheader #from_airport {
    min-width: 6rem;
}
.flightoptionheader #from_gate {
    min-width: 6rem;
}
.flightoptionheader #from_time {
    min-width: 6rem;
}
.flightoptionheader #headerwhitespace {
    min-width: 2.5rem;
}
.flightoptionheader #to_airport {
    min-width: 6rem;
}
.flightoptionheader #to_gate {
    min-width: 6rem;
}
.flightoptionheader #to_time {
    min-width: 6rem;
}

.flightoptionheader {
    width: 58em;
    margin-left: auto;
    margin-right: auto;
}


.flightoption #flightno   {
    min-width: 6rem;
}
.flightoption #airline   {
    min-width: 20rem;
}
.flightoption #departureiata    {
    min-width: 6rem;
}
.flightoption #departuregate    {
    min-width: 6rem;
}
.flightoption #departuretime    {
    min-width: 6rem;
}
.flightoption #whitespace   {
    min-width: 2rem;
}
.flightoption #arrivaliata  {
    min-width: 6rem;
}
.flightoption #arrivalgate  {
    min-width: 6rem;
}
.flightoption #arrivaltime  {
    min-width: 6rem;
}

.trip-dashboard-dynamic .flightoptionbtn  {
    width: 58em;
    margin-left: auto;
    margin-right: auto;
}


.myflightoptionheader span  {
    display: inline-block;
    text-align: center;

    font-size: 16pt;
    color: #1f557b;
    font-weight: bold;
    padding-bottom: 0.2em;
}

#my-flights {
    padding-bottom: 1em;
}

#my-flights-table   {
    width: 58em;
    text-align: center;
}

#flightoptioncontainer  {
    margin-bottom: 0.3em;
    padding: 0em 0em;
}

#my-flights-table tr    {
    margin: 0em 1em;
    padding: 0em 1em;

    color: #1f557b;
    border: none;
    border-top: solid 0.5px #76c6ff;
    border-bottom: solid 0.5px #76c6ff;
    background-color: #e5f6fb;

    transition: all 0.5s linear;
}

#my-flights-table tr:hover  {
    cursor: pointer;
    background: #76c6ff;
    border-top: solid 1px #1f557b;
    border-bottom: solid 1px #1f557b;
}


@keyframes drop    {
    from    {
        opacity: 0;
        top: -2em;
    }
    to  {
        opacity: 1;
        top: 0em;
    }
}

#expandcontainer    {
    padding: 0em 1em;
}

#expand-flight  {
    position: relative;
    top: -2em;
    height: auto;
    padding: 1em 0em 2em 0em;

    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#expand-header  {
    display: flex;
    margin-bottom: 1.5em;
}

#expand-header h3   {
    text-align: left;
    min-width: 50%;
    color: #1f557b;
}

#weather   {
    text-align: right;
    min-width: 50%;
}

#expand-header span {
    display: inline-block;
    min-width: 5em;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 1em;
    text-align: left;
    color: #1f557b;
}

#expand-header img  {
    padding: 0;
    margin: 0;
}

span #temp   {
    min-width: 5em;
}

span #wind  {
    min-width: 5em;
}


#remove-btn {
    border: none;
    color: #a62525;
    background-color: rgba(0, 0, 0, 0);
    width: 5em;
}

#remove-btn:hover   {
    color: #ffffff;
    background-color: #a62525;
}

.myflightoptionheader #remove-placeholder {
    min-width: 10em;
}

.myflightoptionheader #flight {
    min-width: 6rem;
}
.myflightoptionheader #airline {
    min-width: 20rem;
}
.myflightoptionheader #from_airport {
    min-width: 6rem;
}
.myflightoptionheader #from_gate {
    min-width: 6rem;
}
.myflightoptionheader #from_time {
    min-width: 6rem;
}
.myflightoptionheader #headerwhitespace {
    min-width: 2.5rem;
}
.myflightoptionheader #to_airport {
    min-width: 6rem;
}
.myflightoptionheader #to_gate {
    min-width: 6rem;
}
.myflightoptionheader #to_time {
    min-width: 6rem;
}

.myflightoptionheader {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
}

.passenger-survey   {
    position: relative;
    left: -30em;
    height: 70em;

    animation-name: tabswitch;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.inflight-service   {
    position: relative;
    left: -30em;
    height: 70em;

    justify-content: center;
    animation-name: tabswitch;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.cinemaScreen {
    margin-top: 218px;
    margin-left: 151px;
}

h1 {
    margin: 8px;
    font-size: 38px;
    color: rgb(33,19,13);
}

.searchBar {
    width: 32%;
}


/* TODO: Add further elements here: */
/* Additional CSS elements can be imported through bootstrap, react-bootstrap*/
